* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.wrapper-content {
    flex: 1 0 auto;
}

footer {
    flex: 0 0 auto;
}

.conteiner {
    margin-left: 113px;
    margin-right: 113px;
}

.link {
    margin-top: 42px;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

a {
    text-decoration: none;
}

.text {
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #1F3F68;
    opacity: 0.6;
}

.header-main {
    background: linear-gradient(0deg, #EBF3FB 8.84%, rgba(152, 195, 232, 0) 31.12%);
    margin-bottom: 64px;
}

.main {
    display: flex;
    margin-top: 115px;
    position: relative;
    &-content {
        margin-bottom: 190px;
        &-head {
            max-width: 504px;
            font-weight: 300;
            font-size: 64px;
            line-height: 74px;
            letter-spacing: 0.04em;
            color: #1F3F68;
        }
        &-text {
            margin-top: 32px;
            max-width: 425px;
        }
        &-button {
            margin-top: 70px;
            padding: 15px 50px;
            font-size: 16px;
            line-height: 26px;
            text-align: center;
            letter-spacing: 0.04em;
            color: #FFFFFF;
            background: #5A98D0;
            box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
            border-radius: 10px;
            border: none;
        }
        &-button:hover {
            background: rgba(11, 66, 129, 0.877);
        }
        &-button:active {
            background: #5A98D0;
        }
    }
    &-img {
        width: 47%;
        position: absolute;
        right: 0;
        bottom: 100px;
    }
}

// content 
.content {
    padding-bottom: 112px;
    &-h2 {
        font-weight: 300;
        font-size: 36px;
        line-height: 46px;
        text-align: center;
        letter-spacing: 0.05em;
        color: #000000;
    }
    .cards {
        margin-top: 64px;
        margin-bottom: 64px;
        display: flex;
        justify-content: space-between;
        .card {
            display: flex;
            flex-direction: column;
            padding: 44px 32px;
            box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
            border-radius: 10px;
            &-img {
                height: 100%;
            }
            &-h4 {
                margin-top: 50px;
                margin-bottom: 14px;
                font-size: 20px;
                line-height: 30px;
                letter-spacing: 0.05em;
            }
            &-button {
                margin-top: 30px;
                font-size: 14px;
                line-height: 30px;
                letter-spacing: 0.05em;
                color: #5A98D0;
            }
        }
        .card2 {
            margin-right: 32px;
            margin-left: 32px;
        }
    }
    &-text {
        margin-top: 32px;
        margin-left: auto;
        margin-right: auto;
        max-width: 750px;
        font-size: 16px;
        line-height: 26px;
        text-align: center;
        letter-spacing: 0.05em;
        color: #222222;
    }
    .home {
        margin-top: 64px;
        position: relative;
        margin-bottom: 32px;
        &-img {
            width: 100%;
        }
        &-h4 {
            font-size: 32px;
            line-height: 46px;
            text-align: right;
            letter-spacing: 0.05em;
            color: #FFFFFF;
            position: absolute;
            top: 64px;
            right: 64px;
        }
    }
    .app {
        display: flex;
        justify-content: space-between;
        &-sparklite {
            position: relative;
            margin-right: 32px;
        }
        &-car {
            position: relative;
        }
        &-h4 {
            font-size: 28px;
            line-height: 46px;
            letter-spacing: 0.05em;
            color: #FFFFFF;
            position: absolute;
            top: 32px;
            left: 32px;
        }
    }
}


/* footer */

.footer-top {
    padding-top: 91px;
    padding-bottom: 96px;
    background: #316099;
    &-conteiner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .footer-top-content {
            max-width: 495px;
            &-heading2 {
                max-width: 340px;
                font-size: 36px;
                line-height: 46px;
                letter-spacing: 0.05em;
                color: #FFFFFF;
            }
            &-text {
                margin-top: 32px;
                color: #FFFFFF;
            }
        }
        &-button {
            padding: 15px 80px;
            background: #5A98D0;
            text-align: center;
            letter-spacing: 0.04em;
            color: #FFFFFF;
            border: none;
            border-radius: 10px;
            opacity: 1;
        }
        &-button:hover {
            background: rgba(11, 66, 129, 0.877);
        }
        &-button:active {
            background: #5A98D0;
        }
    }
}

hr {
    border-style: solid;
    border-bottom: none;
    border-color: rgb(192, 191, 191);
}

.footer-bottom {
    background: #316099;
    padding-top: 64px;
    padding-bottom: 64px;
    &-content {
        margin-bottom: 64px;
        color: #fff;
        opacity: 1;
        list-style-type: none;
        display: flex;
        &-text {
            width: 316px;
            display: flex;
            margin-right: 32px;
        }
        &-text:first-child::before {
            content: 'A.';
            display: block;
            margin-right: 19px;
        }
        &-text:nth-child(2)::before {
            content: 'B.';
            display: block;
            margin-right: 19px;
        }
        &-text:last-child::before {
            content: 'C.';
            display: block;
            margin-right: 19px;
        }
    }
    &-rights {
        color: #FFFFFF;
        opacity: 0.4;
    }
}


/* adaptive */

@media (max-width: 1024px) {
    .conteiner {
        margin-left: 32px;
        margin-right: 32px;
    }
    .content {
        .cards {
            flex-direction: column;
            margin-bottom: 127px;
        }
        .card {
            max-width: 336px;
            align-self: center;
        }
        .card2 {
            margin: 32px 0;
        }
        &-text {
            max-width: 520px;
        }
    }
    .footer-top-conteiner {
        margin-left: 124px;
        margin-right: 124px;
        .footer-top-content {
            max-width: 336px;
        }
        &-button {
            padding: 5px 30px;
        }
    }
    .footer-bottom-conteiner {
        margin-left: 124px;
        margin-right: 124px;
    }
    .footer-bottom-content {
        flex-direction: column;
        &-text {
            width: auto;
        }
        &-text:first-child::before {
            margin-right: 45px;
        }
        &-text:nth-child(2)::before {
            margin-right: 45px;
        }
        &-text:last-child::before {
            margin-right: 45px;
        }
        &-text:nth-child(2) {
            margin-top: 25px;
            margin-bottom: 25px;
        }
    }
}

@media (max-width: 376px) {
    .header-main {
        margin-bottom: 48px;
    }
    .conteiner {
        margin-left: 16px;
        margin-right: 16px;
    }
    .link {
        margin-top: 24px;
    }
    .main {
        margin-top: 36px;
        &-content {
            margin-bottom: 40px;
            text-align: center;
            &-head {
                font-size: 32px;
                line-height: 37px;
            }
            &-button {
                font-size: 12px;
                margin-top: 32px;
                padding: 1px 10px;
            }
        }
        &-img {
            display: none;
        }
    }
    .content {
        padding-bottom: 64px;
        &-h2 {
            font-size: 24px;
            line-height: 28px;
        }
        .cards {
            margin-top: 32px;
            margin-bottom: 64px;
            .card2 {
                margin: 32px 0;
            }
        }
        .home {
            margin-bottom: 16px;
            &-h4 {
                font-size: 16px;
                line-height: 19px;
                top: 16px;
                right: 16px;
            }
        }
        .app {
            flex-direction: column;
            &-sparklite {
                margin-right: 0;
                margin-bottom: 16px;
            }
            &-h4 {
                font-size: 16px;
                line-height: 19px;
                top: 16px;
                left: 16px;
            }
        }
    }
    .footer-top {
        padding-top: 16px;
        padding-bottom: 40px;
        &-conteiner {
            flex-direction: column;
        }
        &-content {
            text-align: center;
            &-heading2 {
                font-size: 24px;
                line-height: 28px;
            }
            &-text {
                margin-bottom: 40px;
            }
        }
    }
    .footer-bottom {
        padding: 32px 0;
        &-content {
            margin-bottom: 32px;
        }
        &-content-text {
            line-height: 19px;
        }
        &-content-text:first-child::before {
            margin-right: 23px;
        }
        &-content-text:nth-child(2)::before {
            margin-right: 23px;
        }
        &-content-text:last-child::before {
            margin-right: 23px;
        }
        &-content-text:nth-child(2) {
            margin-top: 16px;
            margin-bottom: 16px;
        }
        &-rights {
            text-align: center;
        }
    }
}