/* content */
.content-contact {
    text-align: center;
}
.conteiner-contact-head {
    margin: 55px 0;
}
.contact-head {
    background-image: url(../img/contact-us.svg);
    background-size: cover;
    padding: 50px 0;
    &-h1 {
        font-weight: 500;
        font-size: 44px;
        line-height: 74px;
        letter-spacing: 0.04em;
        color: #FFFFFF;
        margin-bottom: 16px;
    }
    &-text {
        margin: 0 auto;
        max-width: 780px;
        font-size: 20px;
        line-height: 30px;
        letter-spacing: 0.04em;
        color: rgba(255, 255, 255, 0.6);
    }
}

.conteiner-contact-info {
    padding-top: 55px;
    padding-bottom: 95px;
    display: flex;
    justify-content: center;
    text-align: left;
}
.contact-info {
    max-width: 300px;
    margin-right: 100px;
    &-img {
        margin-top: 80px;
        margin-bottom: 55px;
    }
    &-h4 {
        margin-bottom: 24px;
        font-weight: 500;
        font-size: 20px;
        line-height: 30px;
        letter-spacing: 0.04em;
        color: #1F3F68;
    }
    &-text {
        margin-bottom: 40px;
        list-style-type: none;
    }
    .li {
        margin-bottom: 16px;
    }
    .phone:first-child::before {
        content: url(../img/phone.svg);
        margin-right: 18px;
    }
    .phone:last-child::before {
        content: url(../img/phone.svg);
        margin-right: 18px;
    }
    .site:first-child::before {
        content: url(../img/site.svg);
        margin-right: 18px;
    }
    .site:last-child::before {
        content: url(../img/mail.svg);
        margin-right: 18px;
    }
}
.form {
    padding: 56px;
    background: #FFFFFF;
    box-shadow: 5px 10px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    max-width: 540px;
    box-sizing: border-box;
    &-text {
        font-size: 16px;
        line-height: 30px;
        letter-spacing: 0.04em;
        color: #1F3F68;
        opacity: 0.8;
        margin-bottom: 8px;
    }
    .input {
        padding: 21px 36px;
        opacity: 0.4;
        border: 1px solid #356EAD;
        box-sizing: border-box;
        border-radius: 10px;
        font-weight: 300;
        font-size: 16px;
        line-height: 30px;
        letter-spacing: 0.04em;
        margin-bottom: 32px;
        width: 100%;
    }
    &-button {
        width: 100%;
        padding: 23px;
        background: #5A98D0;
        box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
        border-radius: 10px;
        font-weight: 500;
        font-size: 16px;
        line-height: 26px;
        text-align: center;
        letter-spacing: 0.04em;
        color: #FFFFFF;
        border: none;
    }
}
.map-conteiner {
    width: 940px;
    height: 480px;
    margin: 0 auto;
    .map {
        width: 100%;
        height: 100%;
    }
}

/* adaptive */

@media (max-width: 1024px) {
    .conteiner-contact-head {
        margin: 50px 0 0;
    }
    .contact-head-text {
        max-width: 520px;
    }

    .conteiner-contact-info {
        display: block;
        padding-top: 0;
        padding-bottom: 64px;
        margin-top: 65px;

        .contact-info {
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 64px;
            &-img {
                margin: 0 auto;
            }
        }
        .form {
            margin-left: auto;
            margin-right: auto;
        }
    }
    .map-conteiner {
        width: 100%;
        height: 392px;
        .map {
            width: 100%;
        }
    }
    .content {
        padding-bottom: 64px;
    }
}

@media (max-width: 376px) {
    .content {
        padding-bottom: 32px;
    }
    .conteiner-contact-head {
        margin: 33px 0 0;
    }
    .contact-head {
        padding: 48px 16px;
        &-h1 {
            font-size: 24px;
            line-height: 28px;
            margin-bottom: 32px;
        }
        &-text {
            font-size: 16px;
        }
    }
    .conteiner-contact-info{
        padding-bottom: 32px;
        .contact-info {
            margin-bottom: 32px;
            &-img {
            margin-bottom: 64px;
            }
        }
    }
    .map-conteiner {
        height: 350px;
    }
}